// COLORS
$color-white: #fff;
$color-black: #000;

$color-dark: #0c0b08;
$color-light: #fafafa;
$color-accent: #dcca87;
$color-gray: #aaa;
$color-gray-dark: #0c0c0c;
$color-gray-light: #f5efdb;

//FONTS
$font-family: "Cormorant Upright", sans-serif;
$second-family: "Open Sans", sans-serif;
$third-family: "Bestermind", sans-serif;

$default-font-size: 1.6rem;
