.slider {
  &__item {
    max-width: 30.1rem;
    max-height: 44.7rem;
    display: inline-block;
    position: relative;

    &::after {
      content: url("../img/instagram-icon.png");
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      opacity: 0;
    }

    &:hover::after{
        opacity: 1;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-filter: brightness(100%);

    &:hover {
      -webkit-filter: brightness(50%);

    }
  }
}
